---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Astro View Transitions Bug Repro'>
	<div class='container'>
    <p>
      Click browser back button; scroll position and client-rendered content on previous page are not restored.
    </p>
	</div>
</Layout>